@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,337;0,400;0,700;1,400;1,700&display=swap');

.post{
  font-family: 'Open Sans', sans-serif;
}

.post article {
  max-width: 40rem;
  margin: auto;
  padding: 0 1.5em;
  color: #3A4145;
}

.post article p {
  line-height: 1.6em;
  overflow-x: hidden;
  overflow-y: visible;
}
